* {
  margin: 0;
}
div {
  margin: auto;
  border: 2px solid gray;
  width: 500px;
}
h2 {
  text-align: center;
  color: white;
  background-color: gray;
}
ol {
  padding: 0 20px;
}
li {
  text-indent: 30px;
  margin-top: 5px;
}
